.scheduler-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #121212; /* Темный фон */
    border: 1px solid rgba(0, 255, 255, 0.6); /* Светло-синяя рамка для акцента */
    box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.6); /* Неоновое свечение вокруг контейнера */
    color: #0ff; /* Ярко-голубой, неоновый текст */
}
/* .VJL48qbQzWENTFAh1Knk {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1;
    overflow: hidden;
    width: 105px;
    height: 105px;
    text-decoration: none;
    pointer-events: none;
    transition: all .1s ease-in;
    will-change: transform;
}

.VJL48qbQzWENTFAh1Knk {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1;
    overflow: hidden;
    width: 105px;
    height: 105px;
    text-decoration: none;
    pointer-events: none;
    transition: all .1s ease-in;
    will-change: transform;
}

.jWSwi_R_Xl7kPjUhuQoo {
    position: relative;
    top: 21px;
    left: -11px;
    z-index: 1;
    display: block;
    width: 160px;
    padding: 9px 0 6px;
    background-color: #505960;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0/20%);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    pointer-events: auto;
    transition: all .1s ease-in;
    transform: rotate(45deg);
}

.VJL48qbQzWENTFAh1Knk._i6SG2jlTfccH2ZZblil::before, .VJL48qbQzWENTFAh1Knk._i6SG2jlTfccH2ZZblil::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #505960;
    transition: all .1s ease-in;
}

.VJL48qbQzWENTFAh1Knk._i6SG2jlTfccH2ZZblil::before, .VJL48qbQzWENTFAh1Knk._i6SG2jlTfccH2ZZblil::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #505960;
    transition: all .1s ease-in;
}

.V7YfvNqWv0XKYKys7N7K {
    margin-left: -7px;
    color: var(--color-grey-4, #F2F2F2);
    font-size: 8px;
    text-transform: uppercase;
}


.HvybhIo63ZbBJxHh7Ann {
    margin-left: -7px;
    color: #fff;
    font-size: 14px;
} */


.container {
    position: relative;
    margin-top: 66px;
    padding-top: 25px;
    width: 50%;
    border: 1px solid var(--text-color-level3,rgba(26,26,26,0.1));
    border-radius: 8px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0/8%);
    margin-bottom: 30px;
}

.content__title-top {
    margin-bottom: 24px;
}

.content__box {
    text-align: center;
}

.logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.logo__name {
    color: var(--text-color-level2,rgba(26,26,26,0.61));
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.block-content-icons {
    display: flex;
    max-width: 400px;
    justify-content: center;
    padding: 0 30px;
    gap: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}


.calendar_title {
    padding-right: calc((100% - 440px)/2);
    padding-left: calc((100% - 440px)/2);
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.flex {
    display: flex;
    gap: 10px;
}

.desc__join {
    font-size: 16px;
    font-family: proxima nova,sans-serif;
    line-height: 1.5;
    padding-bottom: 35px;
}

/* .desc__join a {
    color: var(--primary-color,rgb(0,105,255));
    text-decoration: underline;
} */

.line {
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--text-color-level3,rgba(26,26,26,0.1));
    margin-bottom: 25px;
}

.title_date_time {
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    max-width: 400px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.icons__box {
    margin: 0 auto;
    width: 20px;
}

.fc-button-group {
    display: flex;
    gap: 20px;
    
}

.fc .fc-toolbar {
    justify-content: center !important;
    gap: 30px;
}

.fc .fc-button:focus {
    display: flex;
    background-color: var(--primary-color-level3,rgba(0,105,255,0.15)) !important;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.fc .fc-col-header-cell-cushion {
    color: var(--text-color,rgb(26,26,26));
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}


.fc .fc-button-primary {
    border-radius: 50% !important;
    color: var(--primary-color, rgb(0,105,255)) !important;
    background-color: var(--primary-color-level3,rgba(0,105,255,0.15)) !important;
}

.fc .fc-button-primary:focus {
    box-shadow: none !important;
}


.fc .fc-button {
    border: 0px !important;
}

.fc-col-header  {
    margin-bottom: 10px;
}

.calendar-container {
    flex: 1;
    margin-right: 20px;
    width: 60%;
}

.fc-col-header.active {
    width: 35rem !important;
}

.fc-scrollgrid-sync-table.active {
    width: 35rem !important;
    min-height: 313px;
}


.fc-view-harness {
    min-height: 468px !important;
}

.timeslots-container {
    display: none;
    width: 35%;
}


.title-time {
    font-size: 1.75em;
    margin-bottom: 45px;
}

.fc-today-button {
    display: none !important;
}

.fc .fc-cell-shaded, .fc .fc-day-disabled {
    background: #fff !important;
}

.timeslot-list {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

.timeslot-list {
    height: 430px;
    overflow-y: scroll;
}


.timeslot-list::-webkit-scrollbar {
    width: 0px;
}


.timeslot-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}


.timeslot-list::-webkit-scrollbar-thumb {
    background: #d1cece; 
    border-radius: 10px; 
}

.timeslot-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.fc-scroller::-webkit-scrollbar {
    width: 0px; 
}

.fc-daygrid-day-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc-daygrid-day-number {
    cursor: pointer;
    width: 44px;
    height: 44px;
    color: #0060e6;
    font-size: 16px;
    line-height: 30px; 
    border-radius: 50%; 
    text-align: center; 
    background-color: var(--primary-color-level4,rgba(0,105,255,0.065)); 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.fc .fc-daygrid-day-frame {
    border: 1px solid #005555; /* Изменение цвета границы для соответствия стилю */
    box-shadow: 0 0 10px #00ffff;
}

.fc-daygrid-day-number.active {
    background-color: var(--primary-color, rgb(0,105,255)); 
    color: white; 
    border-radius: 50%;
}

ж.fc-daygrid-day.fc-day-today {
    background-color: #fff !important;
}


.timeslot-list {
    display: flex;
    flex-direction: column;
    max-width: 226px;
}

.timeslot-box {
    display: flex;
    gap: 10px;
}


.timeslot-box .next-button {
    display: none;
    padding: 10px;
    width: 226px;
    max-height: 52px;
    vertical-align: top;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid var(--primary-color-level2,rgba(0,105,255,0.5));
    background-color: var(--primary-color,rgb(0,105,255));
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
}

.timeslot__btn-time {
    padding: 10px;
    width: 226px;
    max-height: 52px;
    vertical-align: top;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid var(--primary-color-level2,rgba(0,105,255,0.5));
    background-color: #ffffff;
    color: var(--primary-color,rgb(0,105,255));
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
}

.timeslot__btn-time--active {
    background-color: rgb(0 0 0/60%);
    color: var(--text-color-secondary-4, rgba(255,255,255,1)); 
    border-color: transparent;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 0px !important;
}
.fc .fc-scrollgrid {
    border: 0px !important;
}

.timeslot-list li:hover {
    border-color: var(--primary-color,rgb(0,105,255));
}

/* киберпанк */

body {
    background-color: #0a0a0a; /* Темный фон для киберпанкового вида */
    color: #0ff; /* Неоновый текст */
    font-family: 'Orbitron', sans-serif; /* Изменение шрифта на более футуристический */
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

.container, .fc-button-group, .fc .fc-toolbar, .calendar-container {
    border: 1px solid #005555; /* Изменение цвета границы для соответствия стилю */
    box-shadow: 0 0 10px #00ffff; /* Добавление неонового свечения */
    background: #111; /* Затемненный фон */
}

.logo, .fc .fc-button-primary, .timeslot__btn-time--active, .fc .fc-button:focus {
    border: 1px solid #00ffff; /* Яркий неоновый контур */
    box-shadow: 0 0 5px #00ffff; /* Отблеск для добавления глубины */
}

.content__title-top, .calendar_title, .title_date_time, .title-time {
    color: #0ff; /* Изменяем цвет текста для соответствия киберпанковому стилю */
    text-shadow: 0 0 5px #00ffff; /* Добавляем неоновое свечение к тексту */
}

.block-content-icons .icons__box {
    filter: drop-shadow(0 0 5px #00ffff); /* Добавляем свечение к иконкам */
}

.fc-daygrid-day-number, .fc .fc-col-header-cell-cushion {
    color: #00ffff; /* Меняем цвет текста на неоновый */
}

.fc .fc-button-primary {
    background-color: transparent; /* Прозрачный фон для кнопок */
    color: #0ff; /* Неоновый текст */
}

.fc .fc-button-primary:hover {
    background-color: #005555; /* Темно-синий фон при наведении */
    color: #fff;
    border-color: #00ffff; /* Ярко-голубой цвет границ */
    box-shadow: 0 0 10px #00ffff; /* Усиление свечения */
}

.timeslot-list {
    background-color: #111; /* Затемненный фон для списка */
}

.timeslot__btn-time {
    background-color: #222; /* Темный фон кнопок */
    color: #00ffff; /* Неоновый текст */
    border: 1px solid #005555; /* Граница в стиле киберпанк */
}

.timeslot__btn-time:hover {
    color: #fff; /* Светлый текст при наведении */
    background-color: #005555; /* Темно-синий фон */
    box-shadow: 0 0 10px #00ffff; /* Неоновое свечение */
}

body {
    background-color: #111; /* Темный фон */
    color: #fff; /* Светлый текст */
    font-family: 'Orbitron', sans-serif; /* Футуристический шрифт */
}

.container {
    border: 1px solid rgba(0,255,255,0.5); /* Сине-зеленая рамка */
    box-shadow: 0 0 15px 5px rgba(0,255,255,0.5); /* Неоновое свечение */
}

.content__title-top, .calendar_title, .title_date_time, .title-time {
    color: #0ff; /* Неоново-голубой цвет текста */
}

.logo__name {
    color: #0ff; /* Неоново-голубой цвет текста */
}

.block-content-icons .icons__box {
    filter: brightness(0) invert(1); /* Изменяет иконки на белый цвет */
}

.fc .fc-button-primary {
    color: #ff00ff; /* Ярко-розовый цвет текста */
    background-color: rgba(255, 0, 255, 0.2); /* Легкий розовый фон */
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff; /* Розовое свечение */
}

.fc .fc-button-primary:hover {
    background-color: rgba(255, 0, 255, 0.4); /* Ярче при наведении */
}

.timeslot-list, .timeslot-box, .fc-col-header {
    background-color: #222; /* Слегка светлее фон */
    border: 1px solid #333; /* Границы элементов */
}

.timeslot__btn-time, .next-button {
    background-color: transparent;
    color: #0ff; /* Неоново-голубой цвет текста */
    border: 1px solid #0ff; /* Неоново-голубая рамка */
}

.timeslot__btn-time:hover, .next-button:hover {
    color: #fff; /* Светлый текст при наведении */
    background-color: #005555; /* Темно-зеленый фон */
}

/* Анимация для неоновых кнопок */
@keyframes neonButtonGlow {
    from {box-shadow: 0 0 5px #0ff, 0 0 15px #0ff, 0 0 30px #0ff;}
    to {box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;}
}

.timeslot__btn-time:hover {
    animation: neonButtonGlow 1.5s infinite alternate;
}

@media (max-width: 1550px) {
    .container {
        width: 55%;
    }
}

@media (max-width: 1470px) {
    .container {
        width: 65%;
    }
    .fc-col-header.active {
        width: 30rem !important;
    }
    
    .fc-scrollgrid-sync-table.active {
        width: 30rem !important;
        min-height: 313px;
    }
}

@media (max-width: 1350px) {
    .container {
        width: 75%;
    }
}

@media (max-width: 1150px) {
    .container {
        width: 85%;
    }
}

@media (max-width: 1050px) {
    .container {
        width: 95%;
    }
}


@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .scheduler-container {
        flex-direction: column;
    }
    .calendar-container {
        width: 100%;
    }
    .fc-col-header.active {
        width: 30rem !important;
    }

    .fc-scrollgrid-sync-table.active {
        width: 30rem !important;
        min-height: 313px;
    }

    .timeslots-container {
        width: 100%;
    }
    .timeslot-list {
        max-width: 100%;
        width: 100%;
    }
    .timeslot__btn-time {
        width: 100%;
    }
}


@media (max-width: 668px) {
    .logo__name {
        font-size: 13px;
    }
    .calendar_title {
        font-size: 20px;
    }
    .flex span {
        font-size: 12px;
    }
    .desc__join {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 11px;
    }
    .title_date_time {
        font-size: 20px;
    }
    .fc-toolbar-title {
        font-size: 1.0em !important;
    }
    .fc-daygrid-day-number {
        width: 30px;
        height: 30px;
    }
    .fc-button {
        padding: 0.5em 0.5em !important;
    }
}

